.Container {
  max-width: 900px;
}

.Breadcrumb {
  margin-top: 111px;
}

.Title {
  display: inline;
  color: #230871;
  font-size: 28px;
  font-weight: 700;
}

.GoBack {
  display: inline;
  margin-right: 20px;
  padding-bottom: 10px;
}