.VideoContainer {
  border-radius: 20px;
  border: 0 solid #979797;
  background-color: #2f313b;
  height: 100%;
}

.EditIcon {
  padding: 12px;
  margin-top: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.Title {
  text-align: left;
  padding-left: 36px;
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.Duration {
  padding-left: 36px;
  padding-bottom: 23px;
  text-align: left;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.Icon {
  margin-top: 56px;
  margin-bottom: 56px;
  cursor: pointer;
}
