@import '../../../assets/sass/utils';

.resetpassword {
  text-align: left;
  h5 {
    font-size: 18px;
    color: $blue-dark;
    font-weight: 600;
  }
  label {
    color: $blue-dark;
    font-weight: 600;
  }
  input {
    border: 1px solid $blue-dark;
  }
}
