.VideoContainer{
  border-radius: 20px;
  border: 0 solid #979797;
  background-color: #230b4d;
  cursor: pointer;
}

.Title{
  text-align: left;
  padding-left: 36px;
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.Duration{
  padding-left: 36px;
  padding-bottom: 23px;
  text-align: left;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.Icon{
  margin-top: 79px;
  margin-bottom: 32px;
}
