.Wrapper {
  margin-top: 52px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}

.Price {
  color: #7ed321;
  font-size: 26px;
  text-transform: uppercase;
}

.Title {
  font-weight: 700
}
