.Bg {
  background-color: #ffffff;
  border-radius: 10px
}

.KitImg {
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 150px;
}

.KitSuccess {
  margin-top: 35px;
  margin-bottom: 35px;
  max-width: 56px;
}

.SuccessMessage {
  color: #230871;
  font-size: 28px;
  font-weight: 500;
}

.PaySuccess {
  margin-top: 35px;
  max-width: 150px;
}

.SuccessTitle {
  color: #53575a;
  font-size: 18px;
  font-weight: 700;
}
