@import '../../../assets/sass/utils';

.LogInLink {
  color: $white;
  opacity: 0.9;
}

.LogInLink:hover {
  color: $white;
  opacity: 1;
  text-decoration: none;
}

.Terms {
  font-weight: 800;
  color: $white;
  background-color: transparent;
  border: none;
}

.SignUpContainer {
  margin-bottom: px-to-rem(40);
}

.GoBack {
  float: right;
  font-size: px-to-rem(14);
  color: $white;
  opacity: 0.5;
}

.GoBack:hover {
  color: $white;
  opacity: 1;
  text-decoration: none;
}

.form_container{
  background-color: $soft_purple;

  label, p {
    color: $white;
  }
}
