$blue-dark: #230871;
$blue-light: #8d9ebc;
$blue-transparent: rgba(233, 252, 250, 0.2);
$blue-dark-transparent: rgba($blue-dark, 0.1);
$nav-background: rgba(35, 8, 113, 0.05);
$green_light: #50e3c2;
$secondary: #53575a;
$gunmetal: #53575a;
$red: #ff4438;
$grey: #f2f2f2;
$sport: #24dc92;
$yoga: #6a54db;
$emotion: #fcac01;
$general: #feec02;
$fin: #ff9dcc;
$green: #7dd321;
$white: #ffffff;
$soft_purple: #261375;
$logo-light: #f6831d;
